.ele-icon {
    --ele-icon-color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: var(--ele-icon-color);
    font-size: inherit;
}

@each $val in primary, info, success, warning, danger  {
    .ele-icon--#{$val} {
        --ele-icon-color: var(--ele-color-#{$val});
    }
}   

